.subscribe-button 
{
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.subscribe-button:hover
{
  opacity: 0.6;
}
.subscribe-button:active
{
  opacity: 0.3;
}
.join-button
{
  background-color: white;
  color: rgb(6, 95, 212);
  border-radius: 2px;
  border-color: rgb(6, 95, 212);
  border-style: solid;
  border-width: 1px;
  padding-left: 16px;
  padding-top: 9px;
  padding-right: 16px;
  padding-bottom: 9px;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.join-button:hover
{
  background-color: rgb(6, 95, 212);
  color: white;
}
.join-button:active
{
  opacity: 0.6;
}
.tweet-button
{
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  border: none;
  font-size: 15px;
  border-radius: 18px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
}
.tweet-button:hover
{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}
.uber-button
{
  background-color: black;
  color: white;
  font-weight: bold;
  height: 40px;
  width: 110px;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s;
}
.uber-button:hover
{
  opacity: 0.7;
}
.amazon-button
{
  background-color: rgb(225, 216, 20);
  color: black;
  font-weight: bold;
  height: 36px;
  width: 150px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 8px; 
  transition: background-color 0.15s; 
  transition: opacity 0.15s; 
}
.amazon-button:hover
{
  background-color: rgb(179, 171, 28);
}
.amazon-button:active
{
  opacity: 0.4;
}
.amazon1-button
{
  background-color: rgb(225, 164, 28);
  color: black;
  font-weight: bold;
  height: 36px;
  width: 150px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.15s;
  transition: opacity 0.15s;
}
.amazon1-button:hover
{
  background-color: rgb(179, 136, 28);
}
.amazon1-button:active
{
  opacity: 0.4;
}
.github-button
{
  background-color: rgb(46, 164, 79);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  height: 36px;
  width: 95px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
  transition: box-shadow 0.15s;
}
.github-button:hover
{
  box-shadow: 2px 5px 10px rgba(0,0,0,0.15);
}
.bootstrap-button
{
  background-color: rgb(121, 82, 179);
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
}
.bootstrap-button:hover
{
  opacity: 0.75;
}
.bootstrap1-button
{
  background-color: white;
  color: rgb(108, 117, 125);
  font-weight: bold;
  font-size: 14px;
  height: 40px;
  width: 110px;
  border-color: rgb(108, 117, 125);
  border-style: solid;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.bootstrap1-button:hover
{
  background-color:rgb(108, 117, 125);
  color: white;
}
.linkedin-button
{
  background-color: rgb(10,102,194);
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: none;
  height: 40px;
  width: 220px;
  border-radius: 18px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
.linkedin-button:hover
{
  background-color: rgb(14, 75, 135);
}
.linkedin1-button
{
  background-color: white;
  color: rgb(10,102,194);
  font-weight: bold;
  font-size: 14px;
  border-color: rgb(10,102,194);
  border-style: solid;
  height: 36px;
  width: 85px;
  border-radius: 18px;
  cursor: pointer;
  margin-right: 8px;
  transition: border-width 0.15s;
  transition: background-color 0.15s;
}
.linkedin1-button:hover
{
  border-width: 2.5px;
  background-color: rgb(213, 220, 232);
}
a:link
{
  color: blue;
  transition: background-color 0.15;
}
a:hover
{
  color: rgb(187, 101, 115);
}